apiVersion: aquasecurity.github.io/v1beta1
kind: TraceePolicy
metadata:
  name: file-writes
  annotations:
    description: tracee file writes under {{github.workspace}}
spec:
  scope:
    - global
  rules:
    - event: file_write
      filter:
        - args.pathname=$WORKSPACE
