apiVersion: aquasecurity.github.io/v1beta1
kind: TraceePolicy
metadata:
  name: runner
  annotations:
    description: trace runner process tree
spec:
  scope:
    - tree=$RUNNER_PID
  rules:
    - event: sched_process_exec
    - event: net_packet_dns
